.list {
	border-top: 1px solid #e2e1e1;
	border-bottom: 1px solid #e2e1e1;
	background-color: #fff;
}
.list li {
	overflow: hidden;
	border-bottom: 1px solid #efefef;
}
@media screen and (min-width: 320px) {
	.list {
		margin-top: 61px;
		font-size: 16px;
	}
	.list li {
		padding: 24px 15px;
	}
}
@media screen and (min-width: 360px) {
	.list {
		margin-top: 68px;
		font-size: 20px;
	}
	.list li {
		padding: 24px 17px;
	}

}
@media screen and (min-width: 400px) {
	.list {
		margin-top: 76px;
		font-size: 24px;
	}
	.list li {
		padding: 26px 19px;
	}
}
