<!DOCTYPE html>
<html>
<head>
	<title>社交墙-任务中心</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no, maximum-scale=1"/>
	<meta name="Keywords" content="" />
    <meta name="Description" content="" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/tasklist.css">
</head>
<body>
	<header class="bar">
		<a href="index.html"><img src="../images/l_arrow.png"></a>
		<p>任务中心</p>
	</header>
	<div class="list">
		<ul>
			<li data-url="">
				<img src="../images/dota.jpg">
				<dl>
					<dt>刀塔传奇</dt>
					<dd>2015年全国最好玩的卡牌游戏</dd>
					<dd>首次打开1分钟获取奖励</dd>
				</dl>
				<div class="reward">+ <span class="number">0.5</span><span> $</span></div>
			</li>
			<li data-url="">
				<img src="../images/dota.jpg">
				<dl>
					<dt>神仙道</dt>
					<dd>2015年全国最好玩的卡牌游戏</dd>
					<dd>首次打开1分钟获取奖励</dd>
				</dl>
				<div class="reward">+ <span class="number">0.5</span><span> $</span></div>
			</li>
		</ul>
	</div>
	<div class="fixed">
		<div class="content">
			<header>
				<img src="../images/dota.jpg" class="icon">
				<dl>
					<dt>刀塔传奇</dt>
					<dd>2015年全国最好玩的卡牌游戏</dd>
				</dl>
				<img src="../images/close.png" class="close">
			</header>
			<section>
				<img src="../images/wallet.jpg">
				<p>完成下列条件获得 <span>0.5</span> $</p>
			</section>
			<div class="step">
				<div class="num">1</div>
				<p>首次安装注册</p>
			</div>
			<a href="" class="start">开始任务</a>
		</div>
	</div>

	<script src="../../dist/zepto/zepto.min.js"></script>
	<script src="../js/tasklist.js"></script>
</body>
</html>